<template>
  <div :ref="boxplot.uuid"></div>
</template>
<script type="text/javascript">
import Plotly from 'plotly.js-dist';

export default {
  props: ["boxplot"],
  mounted() {
    Plotly.plot(this.$refs[this.boxplot.uuid], this.boxplot.traces, this.boxplot.layout, {responsive: true})
  },
  watch: {
    boxplot: {
      handler: function() {
        Plotly.react(
          this.$refs[this.boxplot.uuid],
          this.boxplot.traces,
          this.boxplot.layout
        );
      },
      deep: true
    }
  }
}
</script>
