  
<script setup>

</script>

<template>
    <div class="col-xs-12 footer">
        <ul>
            <li><router-link to="/"><i class="fa fa-home" aria-hidden="true"></i> Home</router-link></li>
            <li><router-link to="/guide"><i class="far fa-question-circle" aria-hidden="true"></i> Guide</router-link></li>
            <li><router-link to="/contact"><i class="fa fa-user" aria-hidden="true"></i> Contact</router-link></li>
        </ul>

        <p class="copy">{{ new Date().getFullYear() }} &copy; All right reserved. </p>
    </div>
</template>