<template>
  <div :ref="hisplot.uuid"></div>
</template>
<script type="text/javascript">
import Plotly from 'plotly.js-dist';

export default {
  props: ["hisplot"],
  mounted() {
    Plotly.plot(this.$refs[this.hisplot.uuid], this.hisplot.traces, this.hisplot.layout, {responsive: true});
  },
  watch: {
    hisplot: {
      handler: function() {
        Plotly.react(
          this.$refs[this.hisplot.uuid],
          this.hisplot.traces,
          this.hisplot.layout
        );
      },
      deep: true
    }
  }
}
</script>