<template>
	<div :ref="pca3dscatchart.uuid"></div>
</template>
<script type="text/javascript">
import Plotly from 'plotly.js-dist';

export default {
    props: ['pca3dscatchart'],
    mounted() {
	    Plotly.plot(this.$refs[this.pca3dscatchart.uuid], this.pca3dscatchart.traces, this.pca3dscatchart.layout, {responsive: true})
	},
	watch: {
	    pcascatchart: {
	      handler: function() {
	        Plotly.react(
	          this.$refs[this.pca3dscatchart.uuid],
	          this.pca3dscatchart.traces,
	          this.pca3dscatchart.layout
	        );
	      },
	      deep: true
	    }
	  }
}
</script>