<template>
	<div :ref="pcabarchart.uuid"></div>
</template>
<script type="text/javascript">
import Plotly from 'plotly.js-dist';

export default {
    props: ['pcabarchart'],
    mounted() {
	    Plotly.plot(this.$refs[this.pcabarchart.uuid], this.pcabarchart.traces, this.pcabarchart.layout, {responsive: true})
	},
	watch: {
	    pcabarchart: {
	      handler: function() {
	        Plotly.react(
	          this.$refs[this.pcabarchart.uuid],
	          this.pcabarchart.traces,
	          this.pcabarchart.layout
	        );
	      },
	      deep: true
	    }
	  }
}
</script>