<template>
	<div :ref="pcascatchart.uuid"></div>
</template>
<script type="text/javascript">
import Plotly from 'plotly.js-dist';

export default {
    props: ['pcascatchart'],
    mounted() {
	    Plotly.plot(this.$refs[this.pcascatchart.uuid], this.pcascatchart.traces, this.pcascatchart.layout, {responsive: true})
	},
	watch: {
	    pcascatchart: {
	      handler: function() {
	        Plotly.react(
	          this.$refs[this.pcascatchart.uuid],
	          this.pcascatchart.traces,
	          this.pcascatchart.layout
	        );
	      },
	      deep: true
	    }
	  }
}
</script>