<template>
    <div class="tabs-responsive">
                <!--begin::Table-->
               
                      <div>
                        <span class="badge badge-pill badge-light">Cell line: <strong>{{ hisactivetab.values.CL_Name }}</strong></span>                    
                        <span></span>
                      </div>
                      <div>
                          <span class="badge badge-pill badge-light">Compound: <strong>{{ hisactivetab.values.SM_Name }}</strong></span>
                          
                        <span></span>
                      </div>
                      <div>
                        <span class="badge badge-pill badge-light">Dosage: <strong>{{ hisactivetab.values.SM_Dose + hisactivetab.values.SM_Dose_Unit}}</strong></span>
                        
                        <span></span>
                      </div>

                      <div >
                        <span class="badge badge-pill badge-light">Time point: <strong>{{ hisactivetab.values.SM_Time + hisactivetab.values.SM_Time_Unit }}</strong></span>
                        
                        <span></span>
                      </div>
                   
              </div>

</template>

<script type="text/javascript">
    export default {
        props: ['hisactivetab'],
    }
</script>

<style lang="sass">
  .tabs-responsive{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
  }
</style>

