doctype html
html(lang="en")
  head
    title= title
    link(rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
    link(rel="manifest" href="/img/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/yeti/bootstrap.min.css')
    link(rel='stylesheet', href='/css/prismjs.css')
    link(rel='stylesheet', href='https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css')
    link(rel='stylesheet', href='https://unpkg.com/nprogress@0.2.0/nprogress.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    block content
  script(type='text/javascript' src='/js/vendor.js')
  script(type='text/javascript' src='/js/app.js')
  script(type='text/javascript' src='https://cdn.plot.ly/plotly-latest.min.js')
  script(type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  script(type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-r.min.js')
  script(type='text/javascript' src='https://unpkg.com/nprogress@0.2.0/nprogress.js')
  script(type='text/javascript' src='/js/scripts.js')