<template>
  <div class="home">
    <div class="container">
    
      <div class="row">

        <div class="sidenav">
              <div class="module">
                <div class="controls">

                  <h6 style="font-size: 10px;">BOXPLOT</h6>
                  <!-- <div class="control">
                       <label class="control-label">Box</label>
                      <select class="module-input" v-model="boxactive">
                          <option v-for="(item, index) in boxplot.traces" :value="index">{{ item.name }}</option>
                      </select>

                  </div>
                  <div class="control">
                    <label class="control-label">Line width</label>
                      <input class="module-input" type='number' min="1" max="10" v-model="boxplot.traces[boxactive].line.width"></input>
                   </div>

                    <div class="control">
                      <label class="control-label">Color</label>
                      <input class="module-input" type="color" v-model="boxplot.traces[boxactive].marker.color" />
                    </div> -->

                  <div class="control">
                   <label class="check-container check-container-option" >
                    <p class="jitter">Hide outliers</p>
                      <input type="checkbox" @click="changeOutlairs" v-model="boxpoints" true-value="all" false-value="outliers">
                      <span class="checkmark"></span>
                    </label>
                  </div>

                  <h6 style="font-size: 10px;">LAYOUT</h6>
                  <div class="control">
                    <label class="control-label">X-axis label</label>
                    <input class="module-input" type='text' v-model="boxplot.layout.xaxis.title.text" />
                  </div>
                  <div class="control">
                    <label class="control-label">Y-axis label</label>
                    <input class="module-input" type='text' v-model="boxplot.layout.yaxis.title.text" />
                  </div>

                  <hr class="hline">

                  <h6 style="font-size: 10px;">HISTOGRAM</h6>

                      <div class="control">
                           <!-- <label class="control-label">Box</label> -->
                          <select class="module-input" @change="changeHisto" v-model="hisactive">
                              <option v-for="(item, index) in boxplotmeta" :value="index">{{ item.id }}</option>
                          </select>

                      </div>

                      <div class="control">
                      <label class="control-label">Color</label>
                      <input class="module-input" type="color" v-model="hisplot.traces[hisactive].marker.color" />
                    </div>

                  <h6 style="font-size: 10px;">LAYOUT</h6>
                  <div class="control">
                    <label class="control-label">X-axis label</label>
                    <input class="module-input" type='text' v-model="hisplot.layout.xaxis.title.text" />
                  </div>
                  <div class="control">
                    <label class="control-label">Y-axis label</label>
                    <input class="module-input" type='text' v-model="hisplot.layout.yaxis.title.text" />
                  </div>

                  <hr class="hline">
                  <a class="btn button -border" @click="changeDefaultBoxplot" ><i class="fas fa-cogs"></i> Default</a>

                </div>

                </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2">
          <div role="banner" class="header">
               <div class="wrap cf">

            <router-link to="/" class="header-logo"> 
              <img src="/img/logo.png" class="header-logo" style="width: 38px; margin-top: 5px;" href="/">
            </router-link>

            <a href="#" id="menu_link" class="menu_link">
                <span class="t"></span>
                <span class="m"></span>
                <span class="b"></span>
            </a>


            <!-- MENU START -->
            <div class="header-menu">
                    <ul>
                        <li><router-link to="/"><i class="fa fa-home" aria-hidden="true"></i> Home</router-link></li>
                        <li><router-link to="/guide"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Guide</router-link></li>
                        <li><router-link to="/contact"><i class="fa fa-user" aria-hidden="true"></i> Contact</router-link></li>
                        <li><router-link to="/"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</router-link></li>
                    </ul>
            </div>
            <!-- MENU END -->

        </div>
        </div>

        <div class="col-md-12">

              <h4><i class="far fa-image"></i> Profile plot: selected data</h4>
              <div class="chart-container datatable">
                <reactive-boxplot :boxplot="boxplot"></reactive-boxplot>
              </div>


              <!-- Table -->

            <br>
            <br>
            <h4><i class="fas fa-info-circle"></i> Metadata information</h4>

            <div class="datatable">
              <table id="user-table" class="display table-dark nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>CL Name</th>
                  <th>Compound ID</th>
                  <th>Dose</th>
                  <th>SM LINCS ID</th>
                  <th>SM Name</th>
                  <th>Pert Type</th>
                  <th>Time</th>
                  <th>Plate</th>
                  <th width="4%">Well</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in boxplotmeta">
                    <td>{{item.id}}</td>
                    <td>{{item.CL_Name}}</td>
                    <td>{{item.SM_Center_Compound_ID}}</td>
                    <td class="center">{{item.SM_Dose}} {{item.SM_Dose_Unit}}</td>
                    <td>{{item.SM_LINCS_ID}}</td>
                    <td>{{item.SM_Name}}</td>
                    <td>{{item.SM_Pert_Type}}</td>
                    <td class="center">{{item.SM_Time}} {{item.SM_Time_Unit}}</td>
                    <td>{{item.det_plate}}</td>
                    <td>{{item.det_well}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="12">For detail information on how to plot the meta data using different variables in the meta data dataset. Click on this link for metadata <router-link to="/plot" :href="`/plot`" style="font-size: 12px; color: #f05050; font-weight: 900;">plots</router-link>. </td>
                </tr>
              </tfoot>
            </table>

            </div>

            <br><br>
            <h4><i class="fas fa-dna"></i> Profile landmark genes</h4>
            <div class="chart-container datatable" style="margin-bottom: 0;">
              <reactive-hisplot :hisplot="hisplot"></reactive-hisplot>
            </div>

            <tables :hisactivetab="hisactivetab"></tables>
						</div>

          </div>

          <div class="clearfix"> </div>

        </div>
          <div class="row">

              <div class="col-xs-12 footer">
                <ul>
                    <li><router-link to="/"><i class="fa fa-home" aria-hidden="true"></i> Home</router-link></li>
                    <li><router-link to="/guide"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Guide</router-link></li>
                    <li><router-link to="/contact"><i class="fa fa-user" aria-hidden="true"></i> Contact</router-link></li>
                </ul>

                <p class="copy">{{ new Date().getFullYear() }} &copy; All right reserved. </p>
              </div>
            </div>
         </div>
       </div>
  </div>
</template>
<script>
import axios from 'axios'
import Vue from 'vue'
import Plotly from 'plotly.js-dist'

import Tables from '../../components/table'

Vue.component("reactive-boxplot", {
  props: ["boxplot"],
  template: '<div :ref="boxplot.uuid"></div>',
  mounted() {
    Plotly.plot(this.$refs[this.boxplot.uuid], this.boxplot.traces, this.boxplot.layout);
  },
  watch: {
    boxplot: {
      handler: function() {
        Plotly.react(
          this.$refs[this.boxplot.uuid],
          this.boxplot.traces,
          this.boxplot.layout
        );
      },
      deep: true
    }
  }
});

Vue.component("reactive-hisplot", {
  props: ["hisplot"],
  template: '<div :ref="hisplot.uuid"></div>',
  mounted() {
    Plotly.plot(this.$refs[this.hisplot.uuid], this.hisplot.traces, this.hisplot.layout);
  },
  watch: {
    hisplot: {
      handler: function() {
        Plotly.react(
          this.$refs[this.hisplot.uuid],
          this.hisplot.traces,
          this.hisplot.layout
        );
      },
      deep: true
    }
  }
});

export default {
  name: 'home',
  components:{
    Tables
  },
  data() {
    return {
      msg: 'L1000 Viewer',
      hisplots: '',
      hisplot: {
        uuid: "124",
        traces: [],
        layout: {}
      },
      selected: this.$route.params.selected,
      hisactive: 0,
      hisactivetab: {
        values: {}
      },
      boxactive: 0,
      boxpoints: '',
      boxplotmeta: {},
      boxplot: {
        uuid: "123",
        traces: [],
        layout: {}
      }
    }
  },
  watch:{
    hisactive: function(val){
      this.$set(this.hisactivetab, 'values', this.boxplotmeta[val])
    }
  },
  created: function(){
    if (this.$route.params.selected) {
      localStorage.setItem('selected', JSON.stringify(this.$route.params.selected))
    }
    this.fetchData()
  },
  destroyed: () =>{
    localStorage.removeItem('selected')
  },
  methods: {
    fetchData () {
      let vm = this
      let params

      if (vm.selected) {
        params = {
          values: vm.selected
        }
      }
      else{
        params = {
          values: JSON.parse(localStorage.selected)
        }
      }

      axios.all([getData(params), getClue()])
        .then(axios.spread(function (response, clue) {
          vm.selected = response.data.selected
          vm.boxplotmeta = response.data.metadata
          console.log(clue)
          // ⭐️⭐️⭐️⭐️⭐️⭐️⭐️  Boxplot  ⭐️⭐️⭐️⭐️⭐️⭐️⭐️
          var xData = response.data.selected
          var yData = response.data.matrix

          var colors = ["#fe4a49",
                        "#2ab7ca",
                        "#fed766",
                        "#e6e6ea",
                        "#96ceb4",
                        "#ffeead",
                        "#ff6f69",
                        "#ffcc5c",
                        "#88d8b0"];

          var data = [];

          for ( var i = 0; i < xData.length; i ++ ) {
              var result = {
                  type: 'box',
                  y: yData[i+1],
                  name: xData[i],
                  boxpoints: 'all',
                  jitter: 0.3,
                  whiskerwidth: 0.2,
                  fillcolor: 'cls',
                  marker: {
                      size: 2
                  },
                  line: {
                      width: 1
                  }
              };
              data.push(result);
          }

          var layout = {
              title: 'Gene expression boxplot',
              xaxis: {
                title: 'Profile selected'
              },
              yaxis: {
                  autorange: true,
                  showgrid: true,
                  zeroline: true,
                  dtick: 5,
                  gridcolor: 'rgb(255, 255, 255)',
                  gridwidth: 1,
                  zerolinecolor: 'rgb(255, 255, 255)',
                  zerolinewidth: 2,
                  title: 'Normalized Intensity'
              },
              margin: {
                  l: 40,
                  r: 30,
                  b: 80,
                  t: 100
              },
              paper_bgcolor: 'rgb(243, 243, 243)',
              plot_bgcolor: 'rgb(243, 243, 243)',
              showlegend: false
          };

          vm.boxplot.traces = data
          vm.boxplot.layout = layout


          // ⭐️⭐️⭐️⭐️⭐️⭐️⭐️  Histogram  ⭐️⭐️⭐️⭐️⭐️⭐️⭐️
          let h = yData[1].map(val => {
              return Math.log2(val)
          })

          var trace = {
              x: h,
              cell: 'a',
              drug: 'b',
              type: 'histogram',
              autobinx: false,
              error_x: {visible: false},
              error_y: {visible: false},
              histnorm: '',
              marker: {line: {width: 0}, color: '#50BFCF'},
              name: 'landmark',
              nbinsx: 1,
              orientation: 'v',
              xbins: {
                end: 8,
                size: 0.03,
                start: 0
              }
          };
          var datahis = [trace];

          var layouthis = {
              autosize: true, 
              bargap: 0.05, 
              bargroupgap: 0, 
              barmode: 'overlay', 
              title: xData[0] + ' log2 expression', 
              xaxis: {
                autorange: true, 
                title: 'Log2 Intensity', 
                type: 'linear'
              }, 
              yaxis: {
                autorange: true, 
                title: 'Frequency', 
                type: 'linear',
                showgrid: true,
                zeroline: true,
                gridcolor: 'rgb(255, 255, 255)',
                gridwidth: 1,
                zerolinecolor: 'rgb(255, 255, 255)',
                zerolinewidth: 2,
              },
              margin: {
                  l: 40,
                  r: 30,
                  b: 80,
                  t: 100
              },
              paper_bgcolor: 'rgb(243, 243, 243)',
              plot_bgcolor: 'rgb(243, 243, 243)',
              showlegend: false
            };
          vm.hisplot.traces = datahis
          vm.hisplot.layout = layouthis

          vm.hisplots = xData

          vm.$set(vm.hisactivetab, 'values', vm.boxplotmeta[vm.hisactive])

        })
        .catch(function (error) {
          console.log(error)
        })



        // let sims = getSimilar()
        // console.log(sims)
    },
    changeOutlairs(){
      let vm = this
      for (let i in vm.boxplot.traces) {
        vm.boxplot.traces[i].boxpoints = vm.boxpoints
      }
    },
    changeHisto(e){
      let vm = this
      let h = vm.boxplot.traces[vm.hisactive].y.map(val => {
          return Math.log2(val)
      })
      vm.hisplot.traces[0].x = h
      vm.hisplot.layout.title = vm.hisplots[vm.hisactive] + ' log2 expression'

    },
    changeDefaultBoxplot(){
      this.fetchData()
    }
  }
}

function getData(params) {
  return axios.post('/api/plot', params)
}

function getClue(param) {
  return axios.get(`https://api.clue.io/api/profiles?filter={"where":{"pert_id":${param.d},"cell_id":${param.c},"pert_time":${param.t}},"fields":{"pert_id":1,"pert_iname":1,"pert_dose":1,"pert_dose_unit":1,"pert_time":1,"pert_time_unit":1},"limit":20}&user_key=b247665ee7b4e8731a4d747b03ef83c7`)
}

// async function getSimilar (c, d, t) {
//   try {
//     const response = await axios.get();
//     return response
//   } catch (error) {
//     console.error(error);
//   }
// }
</script>

<style lang="sass">

.btns.btn-label-dangers {
    background-color: rgba(253, 57, 122, 0.1);
    color: #fd397a;
    cursor: text !important;
}

.btns.btn-label-warnings {
    background-color: rgba(255, 184, 34, 0.1);
    color: #ffb822;
    cursor: text !important;
}

.btns.btn-label-successs {
    background-color: rgba(10, 187, 135, 0.1);
    color: #0abb87;
    cursor: text !important;
}

.btns.btn-label-primarys {
    background-color: rgba(88, 103, 221, 0.1);
    color: #5867dd;
    cursor: text !important;
}
.btns {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.btns {
    background: transparent;
    outline: none !important;
    vertical-align: middle;
}
.btns {
    display: inline-block;
    font-weight: normal;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.65rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

btn.btn-label-danger {
    background-color: rgba(253, 57, 122, 0.1);
    color: #fd397a;
    cursor: text !important;
}
.format{
  text-align: left;
  background: #f9f9fa;
    border: 1px solid rgba(51, 51, 51, 0.1);
    margin-bottom: 32px;
}
.footer ul li a:hover{
  text-decoration: none;
}

.module {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    text-align: left !important;

  .chart-container {
    display: flex;
    flex-direction: row;
    height: 680px;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #eee;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .control-label{
    font-size: 9px;
    display: flex;
    margin-left: 5px;
  }

  input,
  button,
  .select,
  select {
    width: 100%;
    margin-bottom: 10px;
  }
}

.module-input {
  box-sizing: border-box;
  height: 26px;
  padding: 1px 5px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: white;
  border-color: #eee;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.module-input--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.module-input--invalid {
  border-color: #fa755a;
}

.module-input--webkit-autofill {
  background-color: #fefde5 !important;
}

.jitter{
  font-size: 12px;
  line-height: 25px;
  text-align: left;
  font-weight: normal;
}

$bg: #f1f3f6;
$bg_grey_light: #fafafa;

$font_family: 'Helvetica', sans-serif;

$color_grey: #484746;
$color_grey_light: #838D94;

$brand_primary:     #3aa3e3;
$brand_secondary:   #48606f;
$brand_success:     #748885;
$brand_danger: #E75650;

$light_border: rgba(63, 63, 68, .1);
$grey_border: #eee;

$status_grey: #777777;
$status_light_blue: #8EB4CB;
$status_green: #64BD63;
$status_red:  #E75650;
$status_blue: #3aa3e3;
$status_orange: #FF9800;

.table {
    width: 100%;
    border-collapse: collapse;
    thead {
        tr {
            th {
                text-align: left;
                border-bottom: 2px solid $grey_border;
                padding: 8px!important;
            }
        }
    }
    tbody {
        tr {
            border-top: 1px solid $grey_border;
            td {
                vertical-align: top;
                padding: 8px!important;
            }
            &:nth-of-type(odd) {
                background-color: #fcfcfc;
            }
        }
    }
}

.table-dark {
    font-size: 10px;
    thead {
      tr{
        border-bottom: 2px solid #f0f3ff!important;
      }
        th {
            // background: $brand_secondary;
            // border: 1px solid $color_grey;
            // border-bottom: 2px solid #333!important;
            color: $brand_secondary;
            padding: 5px 0;
            text-align: center!important;
        }
    }
    tbody {
      tr{
        border-bottom: 1px dashed #f0f3ff;
      }
        td {
            // border: 1px solid $brand_secondary;
            padding: 8px 0;
        }
    }
    tfoot {
        // border-top: 1px solid #e0e0e0;
        tr {
            // border-bottom: 1px solid #e0e0e0;
            td {
                // background: #f5f4f3;
                // border: 1px solid $color_grey;
                padding: 8px!important;
            }
        }
    }
}

.datatable{
    margin: 25px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #eee;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.footnote{
  font-size: 11px;
  text-align: left!important;
  margin: 10px 0; 
  padding: 0;
}

.sidenav {
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 120px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 10px;
  display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #eee;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.header {
    position: relative;
    height: 8.57143em;
    z-index: 5;
}

.wrap {
    display: block;
    margin: 0 auto;
    max-width: 1170px;
    max-width: 1330px\9;
}

.header-logo {
    padding: 1.15714em 0 1.78571em;
    margin-right: 10.42857em;
}
.header-menu, .header-menu li, .header-logo {
    float: left;
}
a {
    color: #53B9E6;
    transition: 0.2s color ease-out;
}

a img {
    border: none;
}
img {
    vertical-align: middle;
    border: none;
    -ms-interpolation-mode: bicubic;
}

.menu_link {
    display: none;
}

.header-menu li:first-child {
    margin-left: 0;
}
.header-menu li {
    position: relative;
}

.header-menu a {
    display: block;
    font-size: 1.14286em;
    font-weight: 600;
    line-height: 7.375em;
    padding: 0 0.90625em 0.125em;
    color: #53B9E6;
    transition: 0.2s color ease-out, 0.2s background-color ease-out;
    background: no-repeat right 57px;
}

.header-menu li:first-child {
    margin-left: 0;
}
.header-menu li {
    position: relative;
    list-style: none;
    list-style-type: none;
}
.header-menu, .header-menu li, .header-logo {
    float: left;
}

a:active, a:hover, a:focus {
    outline: 0;
}


</style>