<template>
  <div class="home">
    <div class="container">
    
      <div class="row justify-content-center align-items-center">

        <div class="col-lg-9">
          <nav class="navbar navbar-expand-lg ">
            <router-link to="/" class="header-logo navbar-brand"> 
              <img src="/img/logo.png" class="header-logo" style="width: 38px; margin-top: 5px;" href="/">
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <router-link to="/" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/guide"><i class="far fa-question-circle"></i> Guide</router-link>

                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/contact"><i class="fa fa-user" aria-hidden="true"></i> Contact</router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</router-link>
                </li>
              </ul>
            </div>
          </nav>


 
          <div class="col-md-12">

            <h3 class="text-primary">Contact</h3>

            <br>
            <br>
            <h4>Dr. Frank Emmert-Steib</h4>
            <p>Predictive Medicine and Analytics Lab, Department of Signal Processing, Tampere University of Technology</p>
            <p>Address: Korkeakoulunkatu 10, 33720 Tampere, Finland</p>
            <p>Email: v [at] bio-complexity.com</p>

            <br>
            <br>

            <h4>Dr. Aliyu Musa</h4>
            <p>Faculty of Biomedical Sciences, Tampere University of Technology</p>
            <p>Address: Korkeakoulunkatu 10, 33720 Tampere, Finland</p>
            <p>Email: aliyu.musa [at] tuni.fi</p>


            <Footer />
            

          </div>



        </div>
        </div>
    </div>
  </div>
</template>
<script>
// import $ from 'jquery'
import axios from 'axios'
import Footer from '../../components/footer.vue'
export default {
  name: 'home',
  data () {
    return {
      msg: 'L1000 Viewer'
    }
  },
  components: {
    Footer
  }
}
</script>

<style lang="sass">
.footer ul li a:hover{
  text-decoration: none;
}
</style>