<template>
  <div class="home">
  
    <div class="container">
      
      <div class="row justify-content-center align-items-center">

        <div class="col-lg-9">
          <nav class="navbar navbar-expand-lg ">
            <router-link to="/" class="header-logo navbar-brand"> 
              <img src="/img/logo.png" class="header-logo" style="width: 38px; margin-top: 5px;" href="/">
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <router-link to="/" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/guide"><i class="far fa-question-circle"></i> Guide</router-link>

                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/contact"><i class="fa fa-user" aria-hidden="true"></i> Contact</router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</router-link>
                </li>
              </ul>
            </div>
          </nav>


          <div class="col-md-12">
            <div class="text-left">
            <h3 class="text-primary">L1000 Viewer: New Web Interface for LINCS Data repository</h3>
            <h6 class="card-subtitle mb-2 text-muted">LINCS L1000 Data dataset.</h6>

            <br>
            <br>
            <h5 class="text-primary">Description of the L1000 Data</h5>

            <p class="aligns">The L1000 gene-expression dataset is generated as part of the Library of Integrated Network-based Cellular Signatures (LINCS) project as part of the NIH Common Fund program. LINCS aims to systematically profile the molecular and phenotypical outcomes of agent perturbed human cells. The LINCS drug expression data is measured on a targeted expression profiling platform called L1000. The platform measures the expression of 978 “landmark” genes (roughly 1000, hence the name), selected to be maximally predictive of the other genes while being widely expressed across many cell and tissue types. The variety of agents includes drug compounds, different micro-environments, endogenous ligands, gene knockdown and overexpression were used in the experiment. The L1000 dataset comprises of over a million gene expression profiles of chemically or genetically perturbed human cell lines. The L1000 technology developed at the Broad Institute measures the landmark genes in each sample and estimates the expression of the rest of the transcriptome using an empirical model. In this way, the technology significantly reduces the cost and makes large-scale gene expression profiling possible. LINCS L1000 currently includes a subset of the chemically perturbed gene expression profiles, specifically the profiles in the LJP, CPC and CPD peturbagen groups. The dataset is available from the <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE92742" target="_blank">GEO repository</a>. </p>

            <p class="aligns">The L1000 Viewer web application will enable users to easily search the LINCS L1000 dataset in a simplified web interface. L1000 Viewer is built using the Javascript libraries, and is deployed as a NodeJS application in order to provide quick access. L1000 Viewer front end interface utilizes the core VueJS libraries. All the gene expression and metadata are stored in a MongoDB database.</p>

            <p class="aligns"> The API developed and integrated in the application enables users to search and automatically generate data for download.While there are several desktop software tools that are capable of processing and manually extracting subset of large datasets, these tools require software installation, and are only capable of processing the data locally and it requires a lot of time to process. Therefore, the datasets in the repositories can only be analyzed if the end user has specialized software installed,  often difficult to install. Improvements in software development and web-based application technologies such as the NodeJS  and VueJS JavaScript libraries have led to the development of advanced web-based applications with animated and interactive features. There are several interactive web-based tools that can access data via API. However, most of these tools have limited interactivity, sharing capabilities, for example, by embedding them within web applications such as CMAP, as well as native integration with biology specific analysis methods such as enrichment analysis. Several tools that were developed to generate, process and analyse data are built on top of existing tools, which makes it difficult to adopt and use.</p>

            <h4 class="text-primary">Search Application</h4>
            <p class="aligns">A large collection of over ~1.3 million L1000 gene expression profile data can be downloaded from the web interface, including the aforementioned GSE70138 from the LJP, CPC and CPD collections subset. The application provides easy user-friendly interface to query the dataset, simply by selecting the samples to download the corresponding expression profile. </p>

            <h5 class="text-primary">Search Input</h5>
            <p class="aligns">In this application, metadata information is use as input keyword to query the dataset. Any metadata associated with the input search can be entered in the search box. By default, the section provides four input fields for metadata: Cell, Perturbation, Dosage and Time Point (Fig. 1). Users can add new input fields for additional types of metadata by typing in the search box or remove one by clicking the close (x) sign on the right of each keyword. The tag field is used to enter keywords which are most descriptive of the input metadata.</p>

            <figure>
              <img src="/img/page/figure1.png" alt="The entry point of the L1000 Viewer application." style="width:100%">
              <figcaption>Figure 1: The entry point of the L1000 Viewer application.</figcaption>
            </figure>

            <br>
            <br>

            <p class="aligns">The entry point into L1000 Viewer is to input a search term or a list of metadata query terms in the search box Fig. 2 or paste a symbol Fig. 2 into the search box. In order to provide guidance for setting search parameters, a query term is a list of cell lines, drug compound, dosage or time point. The search button will only become enabled when the text box is filled with a search term, or when the text box is filled with a selection from the drop down list. Clicking the Search button, and the information for the top 50 samples will be displayed in a table below the search box. The interface provides user with a user-friendly scroll to display more results systematically to avoid query exhaust.</p>

            <figure>
              <img src="/img/page/figure2.png" alt="An example of a search term that can be used to search for gene expression profiles." style="width:100%">
              <figcaption>Figure 2: An example of a search term that can be used to search for gene expression profiles.</figcaption>
            </figure>

            <br>
            <br>

            <h5 class="text-primary">Search Results</h5>
            <p class="aligns">Large collection of gene expression profiles can be find using the interface search query. When a user successfully submit a query with a metadata input, the application will search and find the corresponding profiles that matches the user's input term and display the results. The performance of the search results depends on user-defined input terms. At any given query the application will guarantee fast results (within milliseconds), compared to when the data is manually proceed and retrieved directly from the LINCS repositories. </p>


            <figure>
              <img src="/img/page/figure3.png" alt="An example of a search term that can be used to search for gene expression profiles." style="width:100%">
              <figcaption>Figure 3: An example of a search term that can be used to search for gene expression profiles.</figcaption>
            </figure>

            <br>
            <br>

            <h5 class="text-primary">Download View</h5>
            <p class="aligns">After the search results are displayed, user can select profiles in the search results using the check box or the first check box to select all results, a download button will appear at the bottom right corner. Clicking on the button will bring up the download view. The download button will generate and download gene expression profiles and signatures selected within the search results as .csv files, will also include the metadata information associated with the profiles in a zipped folder. User can remove any selected entries to fine-tune the selection, see Figure 3. </p>

            <figure>
              <img src="/img/page/figure4.png" alt="A part of downloaded dataset (gene expression profile matrix) from user selection in the interface opened in Microsoft Excel." style="width:100%">
              <figcaption>Figure 4: A part of downloaded dataset (gene expression profile matrix) from user selection in the interface opened in Microsoft Excel.</figcaption>
            </figure>

            <br>
            <br>

            <h5 class="text-primary">Files</h5>
            <p class="aligns">There are two files generated in the zipped folder. The application downloaded a comma-separated data matrix file (.csv) named "matrix.csv". It contains the gene expression profile of the downloaded dataset as shown in Figure 4. The rows in the file correspond to all the gene symbol annotations for each profile and the columns corresponds to the number samples selected. A second file that contain the meta description of the profiles is accompanied with the matrix file. It is a comma-separated file named "metadata.csv". It contains the meta-information of the experiment of each profiles, information such as time point, dosages, profile ID, etc. The content of the file is shown in Figure 5.</p>

            <figure>
              <img src="/img/page/figure5.png" alt="A part of downloaded data (metadata) associated with the profiles opened in Microsoft Excel." style="width:100%">
              <figcaption>Figure 5: A part of downloaded data (metadata) associated with the profiles opened in Microsoft Excel.</figcaption>
            </figure>

            <br>
            <br>

            <h4 class="text-primary">Code Availability</h4>
            <p class="aligns">All code associated with the L1000 Viewer project is open source. The code is available on the BitBuket repository (https://bitbucket.org/aliocee/devcrew/src/master/) as well as the supplimentory folder. L1000 Viewer libraries are versioned according to the Semantic Versioning 2.0.0 guidelines (http://semver.org/).</p>

          </div>

          <Footer />

          </div>

        </div>
        </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import Footer from '../../components/footer.vue'
export default {
  name: 'home',
  data () {
    return {
      msg: 'L1000 Viewer'
    }
  },
  components: {
    Footer
  }
}
</script>

<style lang="sass">
.aligns{
  text-align: justify;
  line-height: 22px;
  margin-bottom: 50px;
}

.footer ul li a:hover{
  text-decoration: none;
}
</style>