<template>
  <div class="home">

    <div class="container">
      <div class="row justify-content-center align-items-center">
      <div class="col-lg-9">
          <nav class="navbar navbar-expand-lg ">
            <router-link to="/" class="header-logo navbar-brand"> 
              <img src="/img/logo.png" class="header-logo" style="width: 38px; margin-top: 5px;" href="/">
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <router-link to="/" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/guide"><i class="far fa-question-circle"></i> Guide</router-link>

                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/contact"><i class="fa fa-user" aria-hidden="true"></i> Contact</router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</router-link>
                </li>
              </ul>
            </div>
          </nav>


          <div class="col-md-12">
            <div class="text-left">

            <h3 class="text-primary">Metadata Visualization: An Example</h3>

            <br>
            <br>
            <h4 class="text-primary">Query Result Summary</h4>

            <p class="aligns">In addition to the above search and downloading capability of our L1000 viewer, described above, we provide a graphical summarization of the selected files. Specifically, we provide code that can be used to plot (in an R environment) the statistical distributions of cell lines, dosage concentrations or time points. A user can make use of the scripts to visualize the data obtained directly from a specified query. </p>

            <p class="aligns">Example query with the concentration to 0.37um and the time points to 24h, 9,837 profiles are obtained. In Figure 1 we show the distribution of these 9,837 profiles over 15 cell lines. Below we provide R scripts for graphical summarization of the selected files for cell lines, concentrations or time points. </p>
            <br>
            <hr>
            <br>

            <h4 class="text-primary text-center">Cell Lines</h4>

            <figure>
              <img src="/img/page/cells.png" alt="cell line" style="width:100%">
              <figcaption>Figure 1: Frequency distribution for cell lines across all experiments retrieved from the query.</figcaption>
            </figure>

            <br>
            <br>

<prism language="r">
## Cell line

cell.line = within(results, `CL_Name ` = factor(`CL_Name `,
                                                levels=names(sort(table(`CL_Name `),
                                                decreasing=TRUE))))
ggplot(cell.line, aes(factor(`CL_Name `))) +
  geom_bar(alpha = 0.6, fill="#009AB2", colour="#F8F8F8") +
  scale_y_continuous(expand = c(0, 0)) +
  labs(x = "cell line", y = "profile count") + scale_fill_manual(values = cols) +
  guides(fill = guide_legend(keywidth = .6, keyheight = .6, title = "")) +
  scale_colour_Publication() + theme_Publication() +
  theme(axis.text.x = element_text(colour="grey20",size=10,
    angle=90,hjust=1,vjust=.5,face="plain"),
    axis.text.y = element_text(colour="#000000",size=10,angle=0,hjust=1,face="plain"),
    axis.title=element_text(size=10,face="bold"),
    panel.background = element_blank(),
    legend.text=element_text(size=8),
    panel.border = element_rect(colour = "#CCCCCC", fill=NA, size=.2))
</prism>
            <br>
            <br>
            <hr>
            <br>

              <h4 class="text-primary text-center">Dosages</h4>

              <br>
              <br>

            <figure>
              <img src="/img/page/dosages.png" alt="dosages" style="width:100%">
              <figcaption>Figure 2: Distributions of different dosages (concentrations) of small molecules for the query.</figcaption>
            </figure>
            <br>
            <br>

<prism language="r">
## Dosages

counts = setDT(results)[, .(count = .N), 
                            by = list(`CL_Name `, 
                            SM_Center_Compound_ID, SM_Dose)]

less = counts[counts$count < 9,]
gret = counts[counts$count >= 9,]

text.less = within(less, nCount = paste(count, " concentration(s)"))
text.gret = within(gret, nCount = paste("9", ">", " concentration(s)"))

data = rbind(text.less, text.gret)

ggplot(data, aes(x = factor(`CL_Name `))) +
  facet_wrap(~ nCount, scales='free') +
  geom_bar(fill = '#009AB2', alpha=.6) +
  scale_colour_Publication() + theme_Publication() +
  theme(axis.text.x = element_text(size=7,angle=90,hjust=0,vjust=.5,face="plain")) +
  theme(plot.margin=unit(c(2, 7, 2, 2), 'points')) +
  labs(x="cell lines", y="profile count")
</prism>

             <br>
            <br>
            <hr>
            <br>

              <h4 class="text-primary text-center">Time Points</h4>

              <br>
              <br>

            <figure>
              <img src="/img/page/times.png" alt="Time point" style="width:100%">
              <figcaption>Figure 3: Distributions of different time points for the query.</figcaption>
            </figure>
            <br>
            <br>

        <prism language="r">
        ## Time points

        counts = setDT(result)[, .(count = .N), 
                                  by = list(`CL_Name `, 
                                  SM_Center_Compound_ID, SM_Time)]

        less = counts[counts$count < 9,]
        gret = counts[counts$count >= 9,]

        # Percentage
        nrow(less) / nrow(counts)
        nrow(gret) / nrow(counts)

        text.less = within(less, nCount = paste(count, " time point(s)"))
        text.gret = within(gret, nCount = paste("9", "&gt;", " time point(s)"))

        data = rbind(text.less, text.gret)

        ggplot(data, aes(x = factor(`CL_Name `))) +
          facet_wrap(~ nCount, scales='free') +
          geom_bar(fill = '#009AB2', alpha=.6) +
          scale_colour_Publication() + theme_Publication() +
          theme(axis.text.x = element_text(size=7,angle=90,hjust=0,vjust=.5,face="plain")) +
          theme(plot.margin=unit(c(2, 7, 2, 2), 'points')) +
          theme(plot.margin=unit(c(2, 7, 2, 2), 'points')) +
          labs(x="cell lines", y="profile count")
        </prism>
        </div>
  
        <Footer />

        </div>

          

        </div>
        </div>
    </div>
  </div>
</template>
<script>
import Prism from 'vue-prismjs'
import Footer from '../../components/footer.vue'

export default {
  name: 'home',
  data () {
    return {
      msg: 'L1000 Viewer',
      code: 'text.less <- within(less, nCount <- paste(count, " time point(s)"))'
    }
  },
  components: {
      Prism,
      Footer
  }
}
</script>

<style lang="sass">
.format{
  text-align: left;
  background: #f9f9fa;
    border: 1px solid rgba(51, 51, 51, 0.1);
    margin-bottom: 32px;
}
.footer ul li a:hover{
  text-decoration: none;
}
</style>