<template>
  <div class="home">
    <div class="wrap" v-show="loading">
      <div class="loading">
          <div class="bounceball"></div>
          <div class="text">Please wait...</div>
      </div>
    </div>

    <div class="container" v-show="!loading">

      <div class="row justify-content-center align-items-center">

        <div class="col-lg-9">
          <nav class="navbar navbar-expand-lg ">
            <router-link to="/" class="header-logo navbar-brand"> 
              <img src="/img/logo.png" class="header-logo" style="width: 38px; margin-top: 5px;" href="/">
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item px-2 active">
                  <router-link to="/" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/guide"><i class="far fa-question-circle"></i> Guide</router-link>

                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/contact"><i class="fa fa-user" aria-hidden="true"></i> Contact</router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" to="/"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</router-link>
                </li>
              </ul>
            </div>
          </nav>


        <div class="col-md-12">
                <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#normalize">Normalized Samples</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#landmark">Landmark Genes</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">PCA analysis</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="tab" href="#pcv">Percentage Variance</a>
                    <a class="dropdown-item" data-toggle="tab" href="#pca">Principal Components</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="tab" href="#pcainfo">Method Description </a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clustering</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="tab" href="#kmeans">KMeans</a>
                    <a class="dropdown-item" data-toggle="tab" href="#dendro">Dendrograms</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="tab" href="#clusterinfo">Method Description </a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#metadata">Metadata & Details </a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane show active" id="normalize">
                  <div class="card mt-3 text-left datatable">
                    <div class="card-body">
                      <h4 class="card-title">Boxplot</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Distribution of gene expression in each sample</h6>

                      <div class="row card-text">
                         <div class="col-4 form-group">
                            <select class="module-input" v-model="boxactive">
                                <option v-for="(item, index) in boxplot.traces" :value="index">{{ item.name }}</option>
                            </select>

                          </div>
                          <div class="col-3 form-group">
                            <label class="control-label">Line width: </label>
                              <input class="module-input" type='number' min="1" max="10" v-if="boxplot.traces && boxplot.traces[boxactive]" v-model="boxplot.traces[boxactive].line.width" />
                           </div>

                          <div class="col-2 form-group">
                              <label class="control-label">Color: </label>
                              <input class="module-input" type="color" v-if="boxplot.traces && boxplot.traces[boxactive]" v-model="boxplot.traces[boxactive].marker.color" />
                          </div>

                          <div class="col-3 form-group">

                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="hideSwitch" @click="changeOutlairs" v-model="boxpoints" true-value="all" false-value="outliers">
                              <label class="custom-control-label" for="hideSwitch">Hide outliers</label>
                            </div>

                          </div>
                      </div>
                    </div>
                  </div>
                  <br><br>
                  <h4><i class="far fa-image"></i> Profile Plot: Selected Data</h4>
                  <div class="chart-container datatable">
                    <box-plot :boxplot="boxplot"></box-plot>
                  </div>

                  <div class="row layout">
                    <div class="col-6 control">
                      <label class="control-label">X-axis label</label>
                      <input class="module-input" type='text' v-if="boxplot.layout && boxplot.layout.xaxis" v-model="boxplot.layout.xaxis.title.text" />
                    </div>
                    <div class="col-6 control">
                      <label class="control-label">Y-axis label</label>
                      <input class="module-input" type='text' v-if="boxplot.layout && boxplot.layout.yaxis" v-model="boxplot.layout.yaxis.title.text" />
                    </div>
                  </div>
                  <br>
                </div>
                <div class="tab-pane" id="landmark">
                    <div class="card mt-3 text-left datatable">
                    <div class="card-body">
                      <h4 class="card-title">Histogram</h4>
                      <h6 class="card-subtitle mb-2 text-muted">Shows the distribution of the landmark genes</h6>
                      <div class="row card-text">
                         <div class="col-6 form-group">
                            <select class="module-input" @change="changeHisto" v-model="hisactive">
                              <option v-for="(item, index) in boxplotmeta" :value="index" :key="item.id">{{ item.id }}</option>
                            </select>
                        </div>

                        <div class="col-6 form-group">
                          <label class="control-label">Color: </label>
                          <input class="module-input" type="color" v-if="hisplot.traces[0]" v-model="hisplot.traces[0].marker.color" />
                        </div>

                      </div>
                    </div>
                  </div>
                    <br>
                    <br>
                    <h4><i class="fas fa-dna"></i> Profile Landmark Genes</h4>
                    <br>
                    <tables :hisactivetab="hisactivetab"></tables>
                    
                    <div class="chart-container datatable">
                      <his-plot :hisplot="hisplot"></his-plot>
                    </div>

                    <div class="row layout">
                        <div class="col-6 control">
                          <label class="control-label">X-axis label</label>
                          <input class="module-input" type='text' v-if="hisplot.layout && hisplot.layout.xaxis" v-model="hisplot.layout.xaxis.title.text" />
                        </div>
                        <div class="col-6 control">
                          <label class="control-label">Y-axis label</label>
                          <input class="module-input" type='text' v-if="hisplot.layout && hisplot.layout.yaxis" v-model="hisplot.layout.yaxis.title.text" />
                        </div>
                    </div>

                    
                </div>

                <!-- PCA analysis -->
                <div class="tab-pane" id="pcv">

                    <div class="card mt-3 text-left datatable">
                      <div class="card-body">
                        <h4 class="card-title">Percentage Variance Explained</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Shows percentage variance for all principle components</h6>
                        <div class="row card-text">

                          <div class="col-12">
                            <p>Calculate the percentage of variances explained by each principal component for the selected samples using the button below.</p>
                            <p class="text-danger">Make sure you select 3 or more samples.</p>
                          

                            <button class="btn button" @click="getPCA" type="button">
                              <span id="pcvs" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                              Calculate PCA
                            </button>
                          </div>
                      </div>
                    </div>
                    </div>
                    <br>
                    <br>
                    <div id="pca-one" class="diagram" v-if="pca">
                    <h4><i class="fas fa-chart-bar"></i> PCA Variance Explained</h4>

                    <div class="chart-container datatable">
                      <pca-barchart :pcabarchart="pcabarchart"></pca-barchart>
                    </div>

                    <div class="row layout" v-if="pca">
                        <div class="col-6 control">
                          <label class="control-label">X-axis label</label>
                          <input class="module-input" type='text' v-model="pcabarchart.layout.xaxis.title.text" />
                        </div>
                        <div class="col-6 control">
                          <label class="control-label">Y-axis label</label>
                          <input class="module-input" type='text' v-model="pcabarchart.layout.yaxis.title.text" />
                        </div>
                    </div>
                    </div>
                    <br>

                </div>
                <div class="tab-pane" id="pca">
                  <div class="card mt-3 text-left datatable">
                      <div class="card-body">
                        <h4 class="card-title">Principal Components</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Shows percentage values for two calculated principle components</h6>
                        <div class="row card-text">

                          <div class="col-12">
                            <p>Calculate the PCA/percentage of variances explained by each principal component for the selected samples using the button below.</p>
                            <p class="text-danger">Make sure you select 3 or more samples.</p>
                            <button class="btn button" @click="getPCA" type="button">
                              <span id="pcas" class="spinner-border spinner-border-sm d-none" role="hide" aria-hidden="true"></span>
                              Calculate PCA
                            </button>
                          </div>
                      </div>
                    </div>
                    </div>
                  <br>
                  <br>
                  <div id="pca-two" class="diagram" v-show="pca">
                  <h4><i class="fas fa-project-diagram"></i> PCA First Two Dimensions</h4>

                  <div class="chart-container datatable">
                    <pca-scatchart :pcascatchart="pcascatchart"></pca-scatchart>
                  </div>

                  <div class="row layout" v-if="pca">
                        <div class="col-6 control">
                          <label class="control-label">X-axis label</label>
                          <input class="module-input" type='text' v-model="pcascatchart.layout.xaxis.title.text" />
                        </div>
                        <div class="col-6 control">
                          <label class="control-label">Y-axis label</label>
                          <input class="module-input" type='text' v-model="pcascatchart.layout.yaxis.title.text" />
                        </div>
                  </div>


                  <div class="chart-container datatable">
                    <pca-scatchart3d :pca3dscatchart="pca3dscatchart"></pca-scatchart3d>
                  </div>
                  <div class="row layout" v-if="pca">
                        <div class="col-4 control">
                          <label class="control-label">X-axis label</label>
                          <input class="module-input" type='text' v-model="pca3dscatchart.layout.xaxis.title.text" />
                        </div>
                        <div class="col-4 control">
                          <label class="control-label">Y-axis label</label>
                          <input class="module-input" type='text' v-model="pca3dscatchart.layout.yaxis.title.text" />
                        </div>

                        <div class="col-4 control">
                          <label class="control-label">Z-axis label</label>
                          <input class="module-input" type='text' v-model="pca3dscatchart.layout.zaxis.title" />
                        </div>
                  </div>

                  </div>

                <br>


                </div>


                <!-- Clustering -->

                <div class="tab-pane" id="kmeans">

                    <div class="card mt-3 text-left datatable">
                      <div class="card-body">
                        <h4 class="card-title">k-Means Clustering</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Shows k-Means of clusters of all the selected profiles.</h6>
                        <div class="row card-text">

                          <div class="col-12">
                            <p>Calculate the k-Means cluster for the selected samples using the button below.</p>
                            <p class="text-danger">Make sure you select 3 or more samples.</p>
                          

                            <button class="btn button" @click="getPCA" type="button">
                              <span id="kmeans-spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                              Calculate k-Means
                            </button>
                          </div>
                      </div>
                    </div>
                    </div>
                    <br>
                    <br>

                    <div id="pca-one" class="diagram" v-if="kmeans">
                    <h4><i class="fas fa-chart-bar"></i> k-Means Clusters</h4>

                    <div class="chart-container datatable">
                      <!-- <pca-barchart :pcabarchart="pcabarchart"></pca-barchart> -->
                    </div>

                    <div class="row layout" v-if="kmeans">
                        <div class="col-6 control">
                          <label class="control-label">X-axis label</label>
                          <input class="module-input" type='text' v-model="pcabarchart.layout.xaxis.title.text" />
                        </div>
                        <div class="col-6 control">
                          <label class="control-label">Y-axis label</label>
                          <input class="module-input" type='text' v-model="pcabarchart.layout.yaxis.title.text" />
                        </div>
                    </div>
                    </div>
                    <br>

                </div>

                <!-- Metadata -->

                <div class="tab-pane" id="metadata">
                   <!-- Table -->

                      <br>
                      <br>
                      <h4><i class="fas fa-info-circle"></i> Metadata Information</h4>

                      <div class="datatable">
                        <table id="user-table" class="display table-darks nowrap" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>CL Name</th>
                            <th>Compound ID</th>
                            <th>Dose</th>
                            <th>SM LINCS ID</th>
                            <th>SM Name</th>
                            <th>Pert Type</th>
                            <th>Time</th>
                            <th>Plate</th>
                            <th width="4%">Well</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="item in boxplotmeta">
                              <td>{{item.id}}</td>
                              <td>{{item.CL_Name}}</td>
                              <td>{{item.SM_Center_Compound_ID}}</td>
                              <td class="center">{{item.SM_Dose}} {{item.SM_Dose_Unit}}</td>
                              <td>{{item.SM_LINCS_ID}}</td>
                              <td>{{item.SM_Name}}</td>
                              <td>{{item.SM_Pert_Type}}</td>
                              <td class="center">{{item.SM_Time}} {{item.SM_Time_Unit}}</td>
                              <td>{{item.det_plate}}</td>
                              <td>{{item.det_well}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="12">For detail information on how to plot the meta data using different variables in the meta data dataset. Click on this link for metadata <router-link to="/plot" :href="`/plot`" style="font-size: 12px; color: #f05050; font-weight: 900;">plots</router-link>. </td>
                          </tr>
                        </tfoot>
                      </table>

                      </div>

                </div>

                <div class="tab-pane" id="pcainfo">
                  <br>
                  <br>

                  <div class="card" style="border: none;">
                  <div class="card-body text-left">
                    <h4 class="card-title text-primary">Principal Component Analysis</h4>
                    <h6 class="card-subtitle mb-2 text-muted">A simple yet powerful data transformation technique.</h6>
                    <br>
                    <p class="card-text mt-2">Principal Component Analysis (PCA) is a simple yet popular and useful linear transformation technique that is used in numerous applications, such as stock market predictions, the analysis of gene expression data, and many more.</p>
                    <br>
                    <h5 class="text-primary">PCA and Dimensionality Reduction</h5>
                  <p class="card-text aligns">Often, the desired goal is to reduce the dimensions of a <code><strong>𝑑-dimensional</strong></code> dataset by projecting it onto a <code><strong>𝑘-dimensional</strong></code> subspace (where <code><strong>𝑘<𝑑</strong></code>) in order to increase the computational efficiency while retaining most of the information. An important question is "what is the size of <code><strong>𝑘</strong></code> that represents the data 'well'?"</p>
                  <br>
                  <p class="card-text aligns">We use this method to compute eigenvectors (the principal components) of any selected samples and collect them in a projection matrix. Each of those eigenvectors is associated with an eigenvalue which can be interpreted as the "length" or "magnitude" of the corresponding eigenvector. If some eigenvalues have a significantly larger magnitude than others that the reduction of the dataset via PCA onto a smaller dimensional subspace by dropping the "less informative" eigenpairs is reasonable.</p>
                   <br> 
                  <h5 class="text-primary">A Summary of the PCA Approach</h5>


                  <ul>
                    <li>Standardize/normalize the data.</li>
                    <li>Obtain the Eigenvectors and Eigenvalues from the covariance matrix or correlation matrix, or perform Singular Vector Decomposition.</li>
                    <li>Sort eigenvalues in descending order and choose the <code><strong>𝑘</strong></code> eigenvectors that correspond to the <code><strong>𝑘</strong></code> largest eigenvalues where <code><strong>𝑘</strong></code> is the number of dimensions of the new feature subspace <code><strong>(𝑘≤𝑑)/</strong></code>.</li>
                    <li>Construct the projection matrix <code><strong>𝐖</strong></code> from the selected <code><strong>𝑘</strong></code> eigenvectors.</li>
                    <li>Transform the original dataset <code><strong>𝐗</strong></code> via <code><strong>𝐖</strong></code> to obtain a <code><strong>𝑘-dimensional</strong></code> feature subspace <code><strong>𝐘</strong></code>.</li>
                  </ul>

                  </div>
                </div>

                </div>
              </div>

            </div>
            <br>

          <a class="btn button -border mt-5" @click="changeDefaultBoxplot" ><i class="fas fa-cogs"></i> Default</a>  


          <div class="clearfix"> </div>

          <Footer/>

        </div>
          <!-- End Content -->

        </div>

        </div>

  </div>
       
</template>
<script>
import axios from 'axios'
import Vue from 'vue'
import Plotly from 'plotly.js-dist'

// Components
import Tables from '../../components/table'
import PcaBarchart from '../../components/pcabarchart'
import PcaScatchart from '../../components/pcascatchart'
import PcaScatchart3d from '../../components/pca3dscatchart'
import BoxPlot from '../../components/boxplot'
import HisPlot from '../../components/hisplot'
import Footer from '../../components/footer.vue'

export default {
  name: 'home',
  components:{
    Tables,
    PcaBarchart,
    PcaScatchart,
    PcaScatchart3d,
    BoxPlot,
    HisPlot,
    Footer
},
  data() {
    return {
      msg: 'L1000 Viewer',
      loading: true,
      hisplot: {
        uuid: "124",
        traces: [],
        layout: {}
      },
      selected: this.$route.params.selected,
      hisactive: 0,
      hisactivetab: {
        values: {}
      },
      boxactive: 0,
      boxpoints: '',
      boxplotmeta: {},
      boxplot: {
        uuid: "123",
        traces: [],
        layout: {}
      },
      pca: false,
      pcabarchart: {
        uuid: "125",
        traces: [],
        layout: {}
      },
      pcascatchart: {
        uuid: "126",
        traces: [],
        layout: {}
      },
      pca3dscatchart: {
        uuid: "127",
        traces: [],
        layout: {}
      },
      kmeans: false
    }
  },
  computed: {
    isColorPickerVisible() {
      return this.hisplot.traces && this.hisplot.traces[this.hisactive];
    },
  },
  watch:{
    hisactive: function(val){
      this.$set(this.hisactivetab, 'values', this.boxplotmeta[val])
    }
  },
  created: function(){
    if (this.$route.params.selected) {
      localStorage.setItem('selected', JSON.stringify(this.$route.params.selected))
    }
    this.fetchData()
  },
  destroyed: () =>{
    localStorage.removeItem('selected')
  },
  methods: {
    async fetchData () {
        let vm = this

        const params = {
          values: vm.selected || JSON.parse(localStorage.selected)
        };

        const response = await getData(params);
        const { selected, metadata, matrix } = response.data;

        vm.boxplotmeta = metadata

        const colors = ["#fe4a49","#2ab7ca","#fed766","#e6e6ea","#96ceb4","#ffeead","#ff6f69","#ffcc5c","#88d8b0"];

        const data = selected.map((item, index) => ({
          type: 'box',
          y: matrix[index + 1],
          name: item,
          boxpoints: 'all',
          jitter: 0.3,
          whiskerwidth: 0.2,
          fillcolor: 'cls',
          marker: { size: 2 },
          line: { width: 1 }
        }));

        const layout = {
          title: 'Gene expression boxplot',
          width: 751,
          xaxis: { title: 'Profile selected' },
          yaxis: {
            autorange: true,
            showgrid: true,
            zeroline: true,
            dtick: 5,
            gridwidth: 1,
            gridcolor: 'rgb(231, 237, 242)',
            zerolinecolor: 'rgb(231, 237, 242)',
            zerolinewidth: 2,
            title: 'Normalized Intensity'
          },
          margin: { l: 40, r: 30, b: 80, t: 100 },
          paper_bgcolor: 'rgb(249, 249, 252)',
          plot_bgcolor: 'rgb(249, 249, 252)',
          showlegend: false
        };

        vm.$set(vm.boxplot, 'traces', data);
        vm.$set(vm.boxplot, 'layout', layout);


        // ⭐️⭐️⭐️⭐️⭐️⭐️⭐️  Histogram  ⭐️⭐️⭐️⭐️⭐️⭐️⭐️
        
        const yData = response.data.matrix;
        const xData = response.data.selected;

        const log2Values = yData[1].map(val => Math.log2(val));

        const trace = {
          x: log2Values,
          cell: 'a',
          drug: 'b',
          type: 'histogram',
          autobinx: false,
          error_x: { visible: false },
          error_y: { visible: false },
          histnorm: '',
          marker: { line: { width: 0 }, color: '#50BFCF' },
          name: 'landmark',
          nbinsx: 1,
          orientation: 'v',
          xbins: {
            end: 8,
            size: 0.03,
            start: 0
          }
        };

        const datahis = [trace];

        const layouthis = {
          autosize: true,
          bargap: 0.05,
          width: 751,
          bargroupgap: 0,
          barmode: 'overlay',
          title: `${xData[0]} log2 expression`,
          xaxis: {
            autorange: true,
            title: 'Log2 Intensity',
            type: 'linear'
          },
          yaxis: {
            autorange: true,
            title: 'Frequency',
            type: 'linear',
            showgrid: true,
            zeroline: true,
            gridwidth: 1,
            gridcolor: 'rgb(231, 237, 242)',
            zerolinecolor: 'rgb(231, 237, 242)',
            zerolinewidth: 2,
          },
          margin: {
            l: 40,
            r: 30,
            b: 80,
            t: 100
          },
          paper_bgcolor: 'rgb(249, 249, 252)',
          plot_bgcolor: 'rgb(249, 249, 252)',
          showlegend: false
        };

        vm.$set(vm.hisplot, 'traces', datahis);
        vm.$set(vm.hisplot, 'layout', layouthis);
        vm.$set(vm.hisactivetab, 'values', vm.boxplotmeta[vm.hisactive]);


        setTimeout(function () {
            this.loading = false
        }.bind(this), 1000)

    },
    changeOutlairs(){
      let vm = this
      for (let i in vm.boxplot.traces) {
        vm.boxplot.traces[i].boxpoints = vm.boxpoints
      }
    },
    changeHisto(e){
      let vm = this
      let h = vm.boxplot.traces[vm.hisactive].y.map(val => {
          return Math.log2(val)
      })

      vm.$set(vm.hisplot.traces[0], 'x', h)
      vm.$set(vm.hisplot.layout, 'title', vm.boxplotmeta[vm.hisactive].id + ' log2 expression')
      vm.$set(vm.hisplot.traces[vm.hisactive].marker, 'color', vm.hisplot.traces[vm.hisactive].marker.color);
    },
    changeDefaultBoxplot(){
      this.fetchData()
    },
    async getPCA() {
      let vm = this
      const pcvs = document.getElementById("pcvs");
      const pcas = document.getElementById("pcas");

      if (vm.pca === false && vm.selected && vm.selected.length >= 3) {
        pcvs.classList.remove("d-none");
        pcas.classList.remove("d-none");

        const selection = vm.selected || JSON.parse(localStorage.selected);

        try {
          const params = {
            values: selection
          };
          const colors = ["#fe4a49", "#2ab7ca", "#fed766", "#e6e6ea", "#96ceb4", "#ffeead", "#ff6f69", "#ffcc5c", "#88d8b0"];
          const response = await getPCAData(params);

          const xData = Array.from({ length: selection.length }, (_, i) => `PC ${i + 1}`);
          const yData = response.data.pcaVar.map(x => x * 100);
          const zData = response.data.pcaCum.map(x => x * 100);

          const datapcabar = [
            { x: xData, y: yData, type: 'bar', marker: { color: '#ffcc6f' }, name: 'Individual' },
            { x: xData, y: zData, type: 'scatter', name: 'Cumulative', marker: { color: '#00c2be' } }
          ];

          const layoutpcabar = {
            title: 'Explained variance by different principal components',
            width: 751,
            xaxis: { title: 'Dimensions' },
            yaxis: {
              autorange: true,
              showgrid: true,
              zeroline: true,
              gridwidth: 1,
              gridcolor: 'rgb(231, 237, 242)',
              zerolinecolor: 'rgb(231, 237, 242)',
              zerolinewidth: 2,
              title: 'Percentage of explained variance',
              dtick: 20
            },
            margin: { l: 40, r: 30, b: 80, t: 100 },
            paper_bgcolor: 'rgb(249, 249, 252)',
            plot_bgcolor: 'rgb(249, 249, 252)',
            showlegend: true
          };

          vm.$set(vm.pcabarchart, 'traces', datapcabar);
          vm.$set(vm.pcabarchart, 'layout', layoutpcabar);

          const xDatas = response.data.pcaLoad;
          const xNames = response.data.types;
          const xUnique = [...new Set(xNames)];
          const datascat = [];
          const datascat3d = [];

          for (const xValue of xUnique) {
            const xIndx = xNames.reduce((a, e, j) => (e === xValue ? a.concat(j) : a), []);
            const xVal = xIndx.map(i => xDatas[0][i]);
            const yVal = xIndx.map(i => xDatas[1][i]);
            const zVal = xIndx.map(i => xDatas[2][i]);

            const result = {
              x: xVal,
              y: yVal,
              mode: 'markers',
              type: 'scatter',
              name: xValue,
              marker: {
                color: colors[xUnique.indexOf(xValue)],
                size: 20,
                line: { color: 'rgba(217, 217, 217, 0.14)', width: 0.5 },
                opacity: 0.8
              }
            };
            datascat.push(result);

            const result3d = {
              x: xVal,
              y: yVal,
              z: zVal,
              mode: 'markers',
              type: 'scatter3d',
              name: xValue,
              marker: {
                color: colors[xUnique.indexOf(xValue)],
                size: 14,
                line: { color: 'rgba(217, 217, 217, 0.14)', width: 0.5 },
                opacity: 0.8
              }
            };

            datascat3d.push(result3d);
          }

          const layoutscat = {
            width: 751,
            xaxis: { title: `PC 1 (${yData[0].toFixed(2)}%)`, showgrid: false },
            yaxis: {
              autorange: true,
              showgrid: true,
              zeroline: true,
              gridwidth: 1,
              gridcolor: 'rgb(231, 237, 242)',
              zerolinecolor: 'rgb(231, 237, 242)',
              zerolinewidth: 2,
              title: `PC 2 (${yData[1].toFixed(2)}%)`
            },
            margin: { l: 50, r: 30, b: 80, t: 100 },
            paper_bgcolor: 'rgb(249, 249, 252)',
            plot_bgcolor: 'rgb(249, 249, 252)',
            showlegend: true
          };

          const layoutscat3d = {
            width: 751,
            xaxis: { title: `PC 1 (${yData[0].toFixed(2)}%)`, showgrid: false },
            yaxis: { title: `PC 2 (${yData[1].toFixed(2)}%)`, showgrid: false},
            zaxis: { title: `PC 3 (${yData[2].toFixed(2)}%)`, showgrid: false },
            margin: { l: 0, r: 0, b: 0, t: 0 },
            paper_bgcolor: 'rgb(249, 249, 252)',
            plot_bgcolor: 'rgb(249, 249, 252)',
            showlegend: false
          };

          vm.$set(vm.pcascatchart, 'traces', datascat);
          vm.$set(vm.pcascatchart, 'layout', layoutscat);

          vm.$set(vm.pca3dscatchart, 'traces', datascat3d);
          vm.$set(vm.pca3dscatchart, 'layout', layoutscat3d);


          pcvs.classList.add("d-none");
          pcas.classList.add("d-none");

          vm.pca = true;
        } catch (error) {
          console.error(error);
        }
      }
    }


  }
}

async function getData (params) {
  try {
    const response = await axios.post('/api/plot', params)
    return response
  } catch (error) {
    console.error(error)
  }
}

async function getPCAData (params) {
  try {
    const response = await axios.post('/api/plotpca', params)
    return response
  } catch (error) {
    console.error(error)
  }
}

</script>

<style lang="sass">



$width: 18px;
$height: 18px;
$bounce_height: 30px;

.home {
  position: relative; 
  width: 100%;
  height: 100vh;
}

.wrap {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #008cba;
  display: inline-block;
  margin-left: 5px;
  font-size: 1rem;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: #f05050;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: $height;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
        font-weight: 500;
    }
}

.format{
  text-align: left;
  background: #f9f9fa;
    border: 1px solid rgba(51, 51, 51, 0.1);
    margin-bottom: 32px;
}
.footer ul li a:hover{
  text-decoration: none;
}

.module {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    text-align: left !important;

  .chart-container {
    display: flex;
    flex-direction: row;
    height: 680px;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #eee;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .control-label{
    font-size: 9px;
    display: flex;
    margin-left: 5px;
  }

  input,
  button,
  .select,
  select {
    width: 100%;
    margin-bottom: 10px;
  }
}

.module-input {
  box-sizing: border-box;
  height: 29px;
  padding: 1px 5px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: white;
  border-color: #eee;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.module-input--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.module-input--invalid {
  border-color: #fa755a;
}

.module-input--webkit-autofill {
  background-color: #fefde5 !important;
}

.jitter{
  font-size: 12px;
  line-height: 25px;
  text-align: left;
  font-weight: normal;
}

$bg: #f1f3f6;
$bg_grey_light: #fafafa;

$font_family: 'Helvetica', sans-serif;

$color_grey: #484746;
$color_grey_light: #838D94;

$brand_primary:     #3aa3e3;
$brand_secondary:   #48606f;
$brand_success:     #748885;
$brand_danger: #E75650;

$light_border: rgba(63, 63, 68, .1);
$grey_border: #eee;

$status_grey: #777777;
$status_light_blue: #8EB4CB;
$status_green: #64BD63;
$status_red:  #E75650;
$status_blue: #3aa3e3;
$status_orange: #FF9800;

.table {
    width: 100%;
    border-collapse: collapse;
    thead {
        tr {
            th {
                text-align: left;
                border-bottom: 2px solid $grey_border;
                padding: 8px!important;
            }
        }
    }
    tbody {
        tr {
            border-top: 1px solid $grey_border;
            td {
                vertical-align: top;
                padding: 8px!important;
            }
            &:nth-of-type(odd) {
                background-color: #fcfcfc;
            }
        }
    }
}

.table-darks {
    font-size: 10px;
    thead {
      tr{
        border-bottom: 2px solid #f0f3ff!important;
      }
        th {
            // background: $brand_secondary;
            // border: 1px solid $color_grey;
            // border-bottom: 2px solid #333!important;
            color: $brand_secondary;
            padding: 5px 0;
            text-align: center!important;
        }
    }
    tbody {
      tr{
        border-bottom: 1px dashed #f0f3ff;
      }
        td {
            // border: 1px solid $brand_secondary;
            padding: 8px 0;
        }
    }
    tfoot {
        // border-top: 1px solid #e0e0e0;
        tr {
            // border-bottom: 1px solid #e0e0e0;
            td {
                // background: #f5f4f3;
                // border: 1px solid $color_grey;
                padding: 8px!important;
            }
        }
    }
}

.datatable{
    margin: 25px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #eee;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: left 0.3s, right 0.3s, height 0.3s;
}

.pca-data{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
}

.footnote{
  font-size: 11px;
  text-align: left!important;
  margin: 10px 0; 
  padding: 0;
}


.header {
    position: relative;
    height: 8.57143em;
    z-index: 5;
}

.wrap {
    display: block;
    margin: 0 auto;
    max-width: 1170px;
    max-width: 1330px\9;
}

.header-logo {
    padding: 1.15714em 0 1.78571em;
    margin-right: 10.42857em;
}

a {
    color: #53B9E6;
    transition: 0.2s color ease-out;
}

a img {
    border: none;
}
img {
    vertical-align: middle;
    border: none;
    -ms-interpolation-mode: bicubic;
}

.menu_link {
    display: none;
}

.header-menu li:first-child {
    margin-left: 0;
}
.header-menu li {
    position: relative;
}

.header-menu a {
    display: block;
    font-size: 1.14286em;
    font-weight: 600;
    color: #53B9E6!important;
    transition: 0.2s color ease-out, 0.2s background-color ease-out;
    background: no-repeat right 57px;
}

.header-menu li:first-child {
    margin-left: 0;
}
.header-menu li {
    position: relative;
    list-style: none;
    list-style-type: none;
}

a:active, a:hover, a:focus {
    outline: 0;
}


</style>