<template>
  <div class="container">
    <br>
    <br>
    <br>
    <h1><span> <router-link to="/"> <img src="/img/logo.png" style="width: 38px; height: 38px;"></router-link></span> {{ msg }}</h1>
    <h5>gene expression profiles</h5>
    <br>
       <div class="row justify-content-center align-items-center">
        <div class="col-lg-8">
          <div class="row justify-content-between">
            <div class="col-11">
               <multiselect
                  v-model="value"

                  :options="options"

                  :multiple="true"

                  :close-on-select="true"

                  :hide-selected="true"

                  group-values="metas"

                  group-label="metadata"

                  placeholder="Search by perturbation, cell-line, time point or dose"

                  label="tag"

                  MaxHeight="50"

                  @input="clearTable"

                  track-by="tag">

              </multiselect>

            </div>
            <div class="col-1">
               <div class="form-group">
                  <button @click.prevent="search" type="button" class="mb-sm search-btn btn btn-lg bg-danger"><strong><i class="fa fa-search" aria-hidden="true"></i></strong></button>
               </div>
            </div>

          </div>
          <div class="clearfix"> </div>



          <fieldset></fieldset>


          <div class="row justify-content-between" v-show="show">
          <div class="alert alert-light alert-dismissible" v-show="note">
              <button type="button" class="close" @click="note = false">&times;</button>
              <h5 class="alert-heading">💡 Hint</h5>
              <strong>The search box matches user input parameters. L1000 Viewer features download and visualization of selected search results for gene expression level 3 intensity values and associated metadata information. Select the check box for the desired profiles or check the top box to select all profiles. Use different conditions for PCA analysis in "Type" field. Scroll the table to load more profiles. Null = values reported as -666 by LINCS project.</strong>
          </div>
          <div class="table-responsive table-head" v-show="show">
            
          <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        L1000 PROFILE ID
                    </th>
                    <th width="20%">
                        COMPOUND
                    </th>
                    <th width="15%" class="text-center">
                        DOSE
                    </th>
                    <th width="15%" class="text-center">
                        TIME
                    </th>
                    <th width="15%" class="text-center">
                        TYPE
                    </th>
                    <th width="1%" class="text-center">
                        <!-- <input class="custom" type="checkbox" v-model="selectAll" > -->

                        <label class="check-container">
                            <input type="checkbox" v-model="selectAll">
                            <span class="checkmark"></span>
                        </label>
                    </th>
                </tr>
            </thead>
          </table>
        </div>
        <div id="scroll" class="table-responsive" v-show="show" @scroll="onScroll">
            <table class="table table-hover" >

                  <tbody>
                    <tr v-for="item in model.docs" >

                        <td >{{item.det_plate.split('_', 3).join('_') }}</td>
                        <td width="20%">{{item.SM_Name }}</td>
                        <td width="15%" class="text-center">
                          <span v-if="item.SM_Dose !== -666">{{ item.SM_Dose }}{{item.SM_Dose_Unit }} </span>
                          <span v-else>Null</span>
                        </td>
                        <td width="15%" class="text-center">
                          <span v-if="item.SM_Time !== '-666'">{{item.SM_Time}}{{item.SM_Time_Unit }} </span>
                          <span v-else>-</span>
                        </td>
                        <td width="15%" class="text-center">
                          <span class="btns btn-label-dangers"
                              v-if="item.SM_Pert_Type === 'trt_cp'"
                          >
                            {{item.SM_Pert_Type }}
                          </span>
                          <span class="btns btn-label-primarys"
                              v-else-if="item.SM_Pert_Type === 'trt_poscon'"
                          >
                            {{item.SM_Pert_Type }}
                          </span>
                          <span class="btns btn-label-successs"
                              v-else>
                            {{item.SM_Pert_Type }}
                          </span>
                        </td>
                        <td width="1%" class="text-center">
                          <!-- <input class="custom" type="checkbox" v-model="selected" :value="item.id"> -->


                          <label class="check-container">
                            <input type="checkbox" v-model="selected" :value="item.id">
                            <span class="checkmark"></span>
                          </label>
                        </td>
                    </tr>
                    <tr class="spinner" v-show="spinner">
                        <td colspan="5" class="text-center">
                          <img src="/img/spinner.gif" style="width: 38px; height: 38px;">
                        </td>
                    </tr>
                  </tbody>

              </table>



            </div>
            <div class="foot col-12" v-show="show">
                  <p> Showing: {{count}}  of {{model.total}} profile(s)</p>
            </div>

            </div>

            <div class="row justify-content-between" v-show="show">

                <div class="col-6 p-0">
                      <label class="check-container check-container-option" style="margin-top: 10px;">
                        <p class="jitter">Landmark genes (selecting only landmark genes)</p>
                        <input type="checkbox" id="landmark" v-model="landmark">
                          <span class="checkmark"></span>
                       </label>

                  </div>

                   <!-- <div class="col-md-2 doses">
                   </div> -->
                  <div class="col-6">
                    <div class="row justify-content-end">
                        <a class="btn button -border ml-5" :href="`/api/download/${[landmark, selected]}`" v-if="selected.length">
                          <i class="fas fa-cloud-download-alt"></i> Download
                          <span v-if="selected.length">{{selected.length}}</span>
                        </a>

                        <a class="btn button -border ml-5" v-if="!selected.length">
                          <div class="tooltips">
                            <i class="fas fa-cloud-download-alt"></i> Download
                            <span class="tooltiptext">Select a Profile</span>
                          </div>
                        </a>

                        <router-link :to="{ name: 'Visualize', params: { selected: selected }}" class="btn button" :href="`/visualize`" v-if="selected.length" style="margin-left: 10px!important;"><i class="far fa-eye"></i> Visualization
                                    <span v-if="selected.length">{{selected.length}}</span>
                        </router-link>

                        <a class="btn button" v-if="!selected.length" style="margin-left: 10px!important;">
                          <div class="tooltips">
                            <i class="far fa-eye"></i> Visualization
                            <span class="tooltiptext">Select a Profile</span>
                          </div>
                        </a>
                      </div>
                  </div>
             </div>

             <Footer />
             
        </div>
        </div>
    </div>

</template>

<script>
// import $ from 'jquery'
import axios from 'axios'
import Multiselect from 'vue-multiselect'
import Footer from '../components/footer.vue'

export default {
  name: 'home',
  data () {
    return {
      msg: 'L1000 Viewer',
      value: [],
      show: false,
      note: true,
      selected: [],
      model: {
        docs: [],
        limit: 50,
        page: 1,
        total: 0
      },
      count: 0,
      loading: false,
      landmark: true,
      mindose: '',
      maxdose: '',
      spinner: true
    }
  },
  computed: {
    options () {
      return this.$store.getters.tags
    },
    selectAll: {
      get: function () {
        return this.model.docs ? this.selected.length === this.model.docs.length : false
      },
      set: function (value) {
        var selected = []
        if (value) {
          this.model.docs.forEach(function (item) {
            selected.push(item.id)
          })
        }
        this.selected = selected
      }
    }
  },
  watch: {
    '$route': 'fetchData'
  },
  created () {
    this.fetchData()
  },
  methods: {
    onScroll (e) {
      let wrapper = e.target
      let list = wrapper.firstElementChild

      let scrollTop = wrapper.scrollTop
      let wrapperHeight = wrapper.offsetHeight
      let listHeight = list.offsetHeight

      let diffHeight = listHeight - wrapperHeight

      if (diffHeight <= scrollTop && !this.loading) {
        this.load()
      }
    },
    fetchData () {
      this.$store.dispatch('fetchTags', {
        path: 'tags'
      })
    },
    async load() {
      if (this.value.length === 0) return;

      this.loading = true;

      try {
        const response = await axios.post('/api/search', {
          values: this.value,
          limit: this.model.limit,
          page: this.model.page + 1,
        });

        const { model } = response.data;
        const { docs, total } = model;

        this.model.docs.push(...docs);
        this.model.limit = model.limit;
        this.model.page++;
        this.count += docs.length;
        this.model.total = total;
        this.loading = false;
        this.spinner = this.count !== this.model.total;
        console.log(this.spinner);
      } catch (error) {
        console.error(error);
        this.loading = false;
      }

      this.fetchData();
      this.show = true;
    },
    async search() {
      if (!this.value.length) return;

      this.spinner = false;

      try {
        const response = await axios.post('/api/search', {
          values: this.value,
          limit: 50,
          page: 1
        });

        const { docs } = response.data.model;
        this.model = response.data.model;
        this.count += docs.length;
      } catch (error) {
        console.error(error);
        this.loading = false;
      }

      this.fetchData();
      this.show = true;
    },
    clearTable () {
      if (this.value.length === 0) {
        this.show = false
        this.model = {
          docs: [],
          limit: 50,
          page: 1,
          count: 0,
          total: 0
        }
      }
    }
  },
  components: {
    Multiselect,
    Footer
  }
}
</script>

<style lang="sass">

[v-cloak] {
  display: none;
}

.btns.btn-label-dangers {
    background-color: rgba(253, 57, 122, 0.1);
    color: #fd397a;
    cursor: text !important;
}

.btns.btn-label-warnings {
    background-color: rgba(255, 184, 34, 0.1);
    color: #ffb822;
    cursor: text !important;
}

.btns.btn-label-successs {
    background-color: rgba(10, 187, 135, 0.1);
    color: #0abb87;
    cursor: text !important;
}

.btns.btn-label-primarys {
    background-color: rgba(88, 103, 221, 0.1);
    color: #5867dd;
    cursor: text !important;
}
.btns {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.btns {
    background: transparent;
    outline: none !important;
    vertical-align: middle;
}
.btns {
    display: inline-block;
    font-weight: normal;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.01rem 0.4rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.doses{
  display: flex;
  justify-content: center;
  align-items: center;
}

.module-input-dose {
  box-sizing: border-box;
  height: 26px;
  width: 40%;
  font-size: 10px;
  padding: 1px 5px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: white;
  border-color: #eee;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.module-input-dose--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.module-input-dose--invalid {
  border-color: #fa755a;
}

.module-input-dose--webkit-autofill {
  background-color: #fefde5 !important;
}

.swal2-styled.swal2-confirm {
    background-color: #f05050!important;
}

.button {
    background-color: #23b7e5;
    border-radius: 3px;
    border: none;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    height: 35px;
    letter-spacing: .3px;
    line-height: 36px;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color .15s,color .15s ease-in-out;
    white-space: nowrap;
}

.button:hover{
    background-color: #4897bf;
    border-bottom: none;
    color: #fff!important;
    text-decoration: none;
}

.button.-border{
    background-color: #f05050;
    border: 2px solid #f05050;
    color: #fff!important;
    line-height: 32px;
}
.button.-plot{
    background-color: #fab033;
    border: 2px solid #fab033;
    color: #fff!important;
    line-height: 28px;
}

/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #f05050;
}

.check-container-option input:checked ~ .checkmark{
  background-color: #23b7e5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Tooltip container */
.tooltips {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltips .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltips .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.alert-info {
    background-color: #5bc0de;
    border-color: #d1edf6;
}

.alert-dismissible {
    padding-right: 3.90625rem;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert {
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 300;
    text-align: left;
    font-size: 0.8em;
}

.alert .alert-link {
    font-weight: normal;
    color: #fff;
    text-decoration: underline;
}

.search-btn{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.20);
    border-radius: 30px;
    text-shadow: none;
    color: #fff;
    width: 55px;
    height: 55px;
    font-size: 22px !important;
    padding: 10px 1px !important;
    transition: background-color 150ms, color 150ms ease-in-out;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .button.-border{
    margin: 0 0 0 0!important;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .button.-border{
    margin: 0 0 0 0!important;
  }
 }



/*.multiselect__tag {background: #84c65e !important;}
.multiselect__tags {border-color: #2EBEB1 !important;}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {background: #83b267 !important;}
.multiselect__option--highlight {background: #84c65e !important;}
.multiselect__option--highlight{background:#84c65e !important;}
.multiselect__option--highlight:after{content:attr(data-select);background:#84c65e !important;}*/

/*.multiselect__tag {background: #4A9ECA !important;}
.multiselect__tags {border-color: #4A9ECA !important;}
.multiselect__tag-icon:after{color: #fff !important; }
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {background: #3d94c0 !important;}
.multiselect__option--highlight {background: #4A9ECA !important;}
.multiselect__option--highlight{background:#4A9ECA !important;}
.multiselect__option--highlight:after{content:attr(data-select);background:#4A9ECA !important;}*/


.multiselect__tag {background: #ED4D4D !important; margin-bottom: 0 !important; padding: 3px 26px 3px 10px;}
.multiselect__tag-icon:after{color: #fff !important; }
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {background: #964141 !important;}
.multiselect__option--highlight {background: #ED4D4D !important;}
.multiselect__option--highlight{background:#ED4D4D !important;}
.multiselect__option--highlight:after{content:attr(data-select);background:#ED4D4D !important;}

.multiselect__tags {
    min-height: 53px;
    display: block;
    border-radius: 30px;
    // border-color: #4A9ECA !important;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.20);
    text-shadow: none;
    font-size: 16px !important;
    padding: 15px 20px 8px !important;
    transition: background-color 150ms, color 150ms ease-in-out;
}

h1 span img{ margin: -10px 0 0 0;}

.table{
  text-align: left;
  margin: 0 auto;
}

.sortable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.btn-warning {
    color: #fff;
    background-color: #ED5353;
    border-color: #e95252;
    text-align: left;
    border-radius: 6px;
    font-size: 20px;
}

.btn-warning:hover, .btn-warning:after, .btn-warning:active:hover, .btn-warning.focus, .btn-warning:focus {
    color: #fff;
    background-color: #f24d4d;
    border-color: #e95252;
}

.table-responsive {
    max-height: 790px;
    overflow-y: auto;
    overflow: scroll;
}

.table>tbody>tr>td{
    /*padding: 3px 8px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 10px;*/
    font-size: .9em;
    border-top: 1px dashed #ddd;
}

.foot {
  text-align: left;
  padding: 0;
  margin: 20px 0;
}

.foot .col-sm-6{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
}

.download{
  padding: 4px 8px;
}

.nav{
  margin: 5px 0 0 0px;
}

.footer{
  margin: 100px 0 0 0px;
}

.footer ul, .nav ul{
    list-style: square;
    font-weight: 300;
    font-size: 1rem;
    padding: 0;
    line-height: 1.1;
    color: inherit;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.footer ul li, .nav ul li {
    display: inline;
    text-align: -webkit-match-parent;
    list-style-type: none;
    margin: 0 0 0 20px;
}

.footer ul li a:hover{
  text-decoration: none;
}

.footer ul li:first-child, .nav ul li:first-child{
  margin: 0 0 0 0px;
}

.footer .copy {
    margin: 20px 0 80px 30px;
    font-size: .875rem;
}

.format{
  text-align: left;
  background: #f9f9fa;
  border: 1px solid rgba(51, 51, 51, 0.1);
  margin-bottom: 32px;
}

</style>
